*,
html,
body {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
}

.content-block {
  padding: 10px;
  margin-left: 300px;
}

.content {
  display: table;
  margin: 0 auto;

  border-width: 0px;
  border-collapse: collapse;
  box-shadow: 0px 3px 5px 2px #888;

  font-family: 'Rubik', Helvetica, sans-serif;
  font-size: 16px;
}

.content .table-header {
  display: table-cell;
  padding: 10px;

  background-color: #2589bd;

  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.content .table-row {
  display: table-row;
  position: relative;
}

.content .table-row:nth-child(odd) {
  background-color: #eee;
}

.content .table-row:nth-child(even) {
  background-color: #fff;
}

.content .table-row:nth-child(odd) .table-cell:hover {
  background-color: #e5e5e5;

  cursor: pointer;
}

.content .table-row:nth-child(even) .table-cell:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.content .table-row:nth-child(odd) .table-cell:first-child{
  background-color: #eee;
  cursor: default;
}

.content .table-row:nth-child(even) .table-cell:first-child {
  background-color: #fff;
  cursor: default;
}

.content .table-cell {
  display: table-cell;
  height: 40px;
  width: 150px;
  max-width: 150px;
  padding: 7px;

  border-bottom: 1px solid #ccc;

  vertical-align: middle;
  line-height: 16px;
  word-wrap: break-word;
  /*text-align: center;*/
}

.content .table-cell:first-child {
  width: auto;

  text-align: center;
}

.content input[type="text"] {
  width: 100%;
  height: 25px;
  margin: 0;
  padding: 3px;

  border: 1px solid #bbbbbb;
  box-shadow: 0px 0px 2px #cccccc;
  outline: none;

  font-family: 'Rubik', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.delete {
  display: none;
}

.table-row:hover .delete {
  display: block;
  width: 40px;
  height: 40px;

  position: absolute;

  opacity: 0.6;

  transition: opacity 0.3s;
}

.table-row:hover .delete:hover {
  opacity: 1;

  transition: opacity 0.3s;
}

.table-row:hover .delete::before {
  content: "";
  display: block;
  height: 26px;

  position: absolute;
  top: 7px;
  left: 18px;

  border-left: 5px solid #e05b52;
  box-shadow: 0px 0px 3px #e05b52;

  transform: rotate(45deg);
}

.table-row:hover .delete::after {
  content: "";
  display: block;
  height: 26px;

  position: absolute;
  top: 7px;
  left: 18px;

  border-left: 5px solid #e05b52;
  box-shadow: 0px 0px 3px #e05b52;

  transform: rotate(-45deg);
}

.add-btn {
  display: block;
  width: 60px;
  height: 60px;

  position: fixed;
  left: 105px;
  bottom: 35px;
  z-index: 1000;

  /*border: 1px dotted black;*/
  border-radius: 50%;
  background-color: #4bbc4d;
  box-shadow: 0px 0px 5px 2px #4bbc4d;

  opacity: 0.6;

  transition: opacity 0.3s,
              box-shadow 0.3s;
}

.add-btn:hover {
  box-shadow: 0px 0px 5px 4px #4bbc4d;
  opacity: 1;

  transition: opacity 0.3s,
              box-shadow 0.3s;
}

.add-btn span {
  position: relative;
}

.add-btn span::before {
  content: "";
  display: block;
  height: 32px;

  position: absolute;
  top: 14px;
  left: 26px;

  border-left: 8px solid #333;
}

.add-btn span::after {
  content: "";
  display: block;
  height: 32px;

  position: absolute;
  top: 14px;
  left: 26px;

  border-left: 8px solid #333;
  transform: rotate(90deg);
}

.menu {
  width: 270px;
  height: 100vh;
  padding-top: 10px;

  position: fixed;
  top: 0;
  left: 0;


  background-color: #333;
  box-shadow: 9px 10px 3px -3px #999;
}

.menu ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-item a {
  display: block;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 270px;

  outline: 0;

  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 21px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;

  transition: background-color 0.1s;
}

.menu-item a:hover {
  width: 280px;

  background-color: #f4ab00;
  color: #fff;
  text-shadow: 0px 0px 4px #1b2b38;

  transition: background-color 0.2s;
}

.menu-item a::before {
  content: "";
  opacity: 0;

  transition: opacity 0.1s;
}

.menu-item a:hover::before {
  content: "";
  opacity: 1;
  width: 0;
  height: 0;

  position: relative;
  top: 44px;
  left: 250px;

  border-top: 10px solid #111;
  border-left: 0px solid #111;
  border-right: 10px solid transparent;

  z-index: -1;

  transition: opacity 0.2s;
}

.menu-item.active a {
  width: 280px;

  background-color: #f73d3d;
  color: #fff;
  text-shadow: 0px 0px 4px #1b2b38;
}

.menu-item.active a:hover {
  cursor: default;
}

.menu-item.active a::before {
  content: "";
  opacity: 1;
  width: 0;
  height: 0;

  position: relative;
  top: 44px;
  left: 250px;

  border-top: 10px solid #111;
  border-left: 0px solid #111;
  border-right: 10px solid transparent;

  z-index: -1;
}

.user-block {
  margin-left: 300px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  box-shadow: 0px 10px 3px -3px #999;
  background-color: #4bbc4d;
}

.user-block::after {
  display: block;
  content: "";
  clear: both;
}

.user-status {
  float: right;
}

.user-status .separator {
  display: none;
}

.user-status a {
  display: inline-block;
  margin-right: 15px;
  padding: 10px;

  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 1px 1px #333;
  outline: 0;

  color: #333;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 450;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
}

.user-status a:hover {
  position: relative;
  top: -1px;

  box-shadow: 0px 2px 4px #333;
}

.user-status a:active {
  position: relative;
  top: 1px;

  box-shadow: none;
}

.user-status .login {
  display: inline-block;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  /*border: 1px solid black;*/

  color: white;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 18px;
}

.message {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  color: #333;
  text-align: center;
}

.content-block .message {
  margin: 0 auto;
  width: 500px;
  margin-bottom: 20px;
}

.message.info {
  background-color: #f0f0ff;
}

.message.warning {
  background-color: #fffddb;
}

.message.error {
  background-color: #fcc;
}

.form-wrapper {
  margin-left: 300px;
}

.auth-form {
  margin: 0 auto;
  padding: 20px;
  width: 300px;

  border: 1px solid #f0f0f0;
  box-shadow: 0px 3px 2px #888;

  text-transform: uppercase;
  font-size: 14px;
  color: #333;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
  display: block;
  width: 100%;
  padding: 5px;

  border: 1px solid #f0f0f0;
  border-radius: 2px;
  outline: 0;
  background-color: #f5f5f5;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  text-align: center;

  transition: box-shadow 0.3s,
              background-color 0.3s;
}

.auth-form input[type="text"]:focus,
.auth-form input[type="password"]:focus {
  box-shadow: 0px 0px 2px #888;
  background-color: #fff;

  transition: box-shadow 0.3s,
              background-color 0.3s;
}

.auth-form input[type="submit"] {
  display: block;
  margin: 0 auto;
  padding: 7px;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0px 1px 1px #ccc;

  color: #333;
  text-transform: uppercase;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  outline: 0;
}

.auth-form input[type="submit"]:hover {
  position: relative;
  top: -1px;

  box-shadow: 0px 2px 3px #ccc;

  transition: box-shadow 0.3ms;
}

.auth-form input[type="submit"]:active {
  position: relative;
  top: 1px;

  box-shadow: none;
}
