<template id="content-tpl">
  <div class="content-block">
    <p v-for="msg in messages" class="message" :class="msg.type">
      {{ msg.text }}
    </p>

    <table v-if="content" class="content">
      <tr class="table-row">
        <th v-for="field in content.fields" class="table-header">{{ field }}</th>
      </tr>
      <tr v-for="(row, rowIndex) in content.rows" class="table-row">
        <td v-for="(cell, cellIndex) in row" @click="edit(row, cellIndex)" class="table-cell">
          <span v-if="!cell.editable" class="cell-text">{{ cell.content }}</span>
          <input type="text"
            v-autofocus v-if="cell.editable" v-model="cell.editedText"
            @keyup.esc="cancelEdit(row, cellIndex)" @keyup.enter="endEdit(row, cellIndex)" @blur="cancelEdit(row, cellIndex)">
        </td>
        <td @click="remove(rowIndex)" class="delete"></td>
      </tr>
      <tr v-if="addingRow" class="table-row">
        <td class="table-cell"></td>
        <td v-for="(cell, cellIndex) in addedRow" class="table-cell">
          <input type="text" v-autofocus v-model="addedRow[cellIndex]"
            @keyup.esc="cancelAddRow" @keyup.enter="endAddRow">
        </td>
        <td @click="cancelAddRow" class="delete"></td>
      </tr>
    </table>
    <div @click="addRow" class="add-btn"><span></span></div>
  </div>
</template>
