<template id="content-tpl">
  <div class="content-block">
    <p v-for="msg in messages" class="message" :class="msg.type">
      {{ msg.text }}
    </p>

    <table v-if="content" class="content">
      <tr>
        <th v-for="field in content.fields">{{ field }}</th>
      </tr>
      <tr v-for="row in content.rows">
        <td v-for="(cell, index) in row" @click="edit(row, index)">
          <span v-if="!cell.editable" class="cell-text">{{ cell.content }}</span>
          <input type="text"
            v-autofocus v-if="cell.editable" v-model="cell.editedText"
            @keyup.esc="cancelEdit(row, index)" @keyup.enter="endEdit(row, index)" @blur="cancelEdit(row, index)">
        </td>
      </tr>
    </table>
  </div>
</template>
