*,
html,
body {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.content {
  border: 1px green dotted;
  margin-left: 200px;
}

.menu {
  border: 1px red dotted;

  position: fixed;
  top: 0;
  left: 0;

  width: 200px;
  height: 100vh;
}

.user-status {
  border: 1px blue dotted;

  margin-left: 200px;
}
